#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 2px 11px;
    padding-bottom: 12px;
}

#home{
    height: 430px;
    padding: 5px 26px;
}

#home::before{
    height: 540px;
}

#home p{
    font-size: 16px;
}

#lines{
    flex-direction: column;
}

#lines .box{
    padding: 17px;
    margin: 5px 3px;
    margin-bottom: 22px;
}

#others{
    flex-wrap: wrap;
}

#others img{
    width: 68px;
    padding: 9px;
    height:auto;
}

.h-primary{
    font-size: 29px;
}

.btn{
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 4px;
}

